@import url(./__title/form__title.css);
@import url(./__field/form__field.css);
@import url(./__input/form__input.css);
@import url(./__input-error/form__input-error.css);
@import url(./__submit/form__submit.css);

@import url(./__input-error/_active/form__input-error_active.css);
@import url(./__submit_inactive/form__submit_inactive.css);
@import url(./__title/_delete/form__title_delete.css);


.form {
  display: block;
  padding: 34px 36px 36px;
}
@media all and (max-width: 485px) {
  .form {
    padding: 30px 20px;
  }
}
